@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Imbue:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: arial;
  background: rgba(221, 189, 255, 0.1);
}

.conteiner a {
  text-decoration: none;
  color: black;
}

.original {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-width: 0;
}

.content {
  flex: 1 1 auto;
  margin-top: 1%;
}

.conteiner {
  max-width: 1200px;
  margin: 0 auto;
}

.hi__top {
  height: 10%;
  display: flex;
  justify-content: space-between;
  background: white;
  position: relative;
  z-index: 2;
}

.hi__soc {
  width: 20%;
  height: 100%;
  display: flex;
  position: relative;
  right: -80%;
  font-size: xx-large;
  justify-content: space-around;
  transition: all 1s ease 0s;
}

.soc a {
  transition: all 0.5s ease 0s;
}

.soc a:hover {
  color: red;
}

.hi__tel {
  width: 40%;
  height: 100%;
  display: flex;
  position: relative;
  right: 60%;
  font-size: 120%;
  justify-content: space-around;
  margin: auto 0;
}

.menu__select {
  position: relative;
  z-index: 2;
}

.menu__rov {
  margin: 0 auto;
}

.window__exp._min {
  width: 100%;
  left: 25%;
}

.slider__title_min {
  margin-top: 0 auto;
}

.window__exp._min img {
  width: 50%;
  position: relative;
  z-index: 11;
}

.window__item_min {
  text-align: center;
  align-items: center;
  border-left: groove;
  border-top: groove;
  border-right: groove;
  transition: all 1s ease 0s;
  height: 42px;
  position: relative;
  z-index: 10;
  cursor: pointer;
  display: flex;
  background: rgba(255, 255, 255, 0.4);
}

.window__item_min:hover {
  background: white;
  transition: all 1s ease 0s;
}

.window__exp_min_eco {
  min-height: 120px;
}

.window__item_min._in.swiper-slide-thumb-active {
  background: white;
  text-shadow: 0px 0px 10px white;
  border-radius: 0 0 50% 50%;
  height: 80px;
  border-top: none;
}

.window__preBody {
  position: relative;
}

.slider__title {
  position: relative;
  z-index: 1;
  position: absolute;
  top: 0%;
}

.footer__row {
  display: flex;
}

.footer__text {
  margin: 0 auto;
}

.geo {
  background: red;
  display: flex;
}

.geo__column {
  display: flex;
}

.window__preBody img {
  width: 100%;
}

.pre__card {
  height: 45%;
  width: 35%;
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  z-index: 2;
  top: 40%;
  left: 10%;
  border-radius: 80% 0;
  transition: all 1s ease 0s;
}

.pre__locard {
  padding-top: 33%;
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  text-align: center;
  border-radius: 0 80%;
  position: relative;
  font-size: 210%;
  line-height: 190%;
  transition: all 1s ease 0s;
  text-shadow: 0px 0px 10px white;
}

.pre__card:hover {
  background: rgba(0, 0, 0, 0.6);
  border-radius: 0 70%;
  box-shadow: 0 0 10px white;
}

.pre__card:hover .pre__locard {
  background: rgba(255, 255, 255, 0.8);
  padding-top: 40%;
  border-radius: 70% 0;
  line-height: 100%;
  box-shadow: 0 0 10px black;
  text-shadow: 0 0 10px white;
}

.stat__title {
  width: 100%;
  padding: 2%;
  text-align: center;
  font-size: 180%;
  border-top: double;
}

.stat__img {
  position: relative;
}

.stat__cont {
  display: flex;
  justify-content: space-around;
  text-align: center;
  background-image: url(../Img/stats.jpg);
  width: 100%;
  height: 20%;
}

.stat__column {
  height: 20%;
  width: 33.4%;
}

.stat__elbord {
  overflow: hidden;
  width: 100%;
  padding: 5%;
  background: rgba(0, 0, 0, 0.3);
  transition: all 1s ease 0s;
}

.stat__elbord:hover {
  background: rgba(0, 0, 0, 0.8);
}

.stat__ico {
  font-size: 500%;
  color: rgba(255, 255, 255, 0.5);
  transition: all 1s ease 0s;
}

.stat__text {
  font-size: 150%;
  margin-top: 15%;
  transition: all 1s ease 0s;
  text-shadow: 1px 0px 5px white;
}

.stat__ico._hov {
  transform: translate(-120%, 0%);
  transition: all 1s ease 0s;
  opacity: 0;
  font-size: 0%;
}

.stat__text._hov {
  transform: translate(0, -120%);
  opacity: 0;
  font-size: 0%;
  transition: all 1s ease 0s;
  margin-top: 0%;
}

.stat__elbord:hover .stat__ico {
  transform: translate(120%, 0);
  opacity: 0;
  transition: all 1s ease 0s;
}

.stat__elbord:hover .stat__text {
  transform: translate(0, -120%);
  opacity: 0;
  transition: all 1s ease 0s;
}

.stat__elbord:hover .stat__ico._hov {
  transform: translate(0, 0%);
  display: block;
  transition: all 1s ease 0s;
  opacity: 1;
  font-size: 500%;
  color: red;
}

.stat__elbord:hover .stat__text._hov {
  transform: translate(0, 0%);
  display: block;
  transition: all 1s ease 0s;
  opacity: 1;
  font-size: 150%;
  color: white;
  text-shadow: 1px 0px 5px black;
}

.how__title {
  width: 100%;
  padding: 2%;
  text-align: center;
  font-size: 180%;
  border-top: double;
}

.how__ico {
  padding: 10%;
  font-size: 500%;
  color: rgba(255, 255, 255, 0.5);
  transition: all 1s ease 0s;
  width: 60%;
  margin: auto;
  border-radius: 50%;
  border: solid;
  background: rgba(0, 0, 0, 0.5);
  color: #99cc99;
}

.how__icoimg {
  padding: 1%;
  color: rgba(255, 255, 255, 0.5);
  transition: all 1s ease 0s;
  width: 72%;
  margin: auto;
  background: rgba(255, 255, 255, 0.7);
}

.how__icoimg img {
  width: 100%;
}

.how__text {
  font-size: 150%;
  margin-top: 15%;
  transition: all 1s ease 0s;
  text-shadow: 1px 0px 5px white;
}

.how__column {
  height: 20%;
  width: 100%;
  text-align: center;
  border-radius: 20px;
  transition: all 1s ease 0s;
}

.how__column._re {
  margin-top: 0%;
  border-radius: 20%;
}

.window__how {
  display: flex;
  min-width: 0px;
}

.window__howimg {
  background: rgba(255, 255, 255, 0.4);
}

.window__how {
  background: rgba(255, 255, 255, 0.4);
}

.how__column.swiper-slide-thumb-active {
  border: solid;
  background: rgba(0, 0, 0, 0.4);
  color: white;
}
.how__column.swiper-slide-thumb-active .how__ico {
  background: white;
  color: rgba(229, 35, 37, 0.7);
}
.how__column.swiper-slide-thumb-active .how__text {
  text-shadow: 0px 0px 5px white;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}

.class__title {
  font-size: 150%;
  padding: 1%;
  text-align: center;
  transition: all 1s ease 0.5s;
  opacity: 0;
  transform: translate(120%, 0%);
}

.class__text {
  font-size: 130%;
  padding-top: 5%;
  text-align: center;
  transition: all 1s ease 0s;
  opacity: 0;
  width: 100%;
  margin: auto;
  transform: translate(-120%, 0%);
}

.class__column {
  opacity: 0.3;
  transition: all 1s ease 0s;
}

.class__column.swiper-slide-active {
  opacity: 1;
}
.class__column.swiper-slide-active .class__column {
  opacity: 1;
  border: double;
}
.class__column.swiper-slide-active .class__text {
  opacity: 1;
  transition: all 1s ease 0s;
  transform: translate(0%, 0%);
  background: rgba(255, 255, 255, 0.5);
  width: 100%;
  padding: 2%;
}
.class__column.swiper-slide-active .how__icoimg._img {
  transform: scale(1.6);
  margin-top: 20%;
}
.class__column.swiper-slide-active .how__icoimg._img._in {
  transform: scale(2);
  margin-top: 40%;
}
.class__column.swiper-slide-active .class__title {
  opacity: 1;
  transform: translate(0%, 0%);
  transition: all 1s ease 0.5s;
}
.class__column.swiper-slide-active .how__icoimg._img._p {
  margin-top: 12%;
}

.footer__text {
  font-size: 130%;
}

.block__foot {
  background: white;
  width: 100%;
  height: 200px;
}

.hi__burger__wra {
  display: none;
  position: absolute;
  top: 10%;
  left: 2%;
}

.hi__socfoot {
  display: flex;
  width: 100%;
  justify-content: space-around;
  font-size: 240%;
  margin-top: 2%;
}

.hi__telfoot {
  display: flex;
  justify-content: space-around;
  margin-top: 5%;
  line-height: 170%;
  position: relative;
}

.soc__name {
  text-align: center;
  font-size: 120%;
}

.logo__img {
  padding: 2%;
}

.logo__img img {
  width: 50%;
}

.block__soc {
  width: 70%;
}

.block__foot {
  display: flex;
  height: 10%;
}

.window__class__max {
  overflow: none !important;
}

.how__icoimg._img._p {
  width: 50%;
}

.class__text._p {
  width: 100%;
}

.class__text._p._dop {
  background: rgba(0, 0, 0, 0.6);
}

.window__calkule {
  padding: 2%;
  justify-content: space-around;
}

.Kalkk {
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.kalk__par {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 3%;
  padding-top: 5%;
  font-size: 150%;
  padding-bottom: 5%;
}

#n1, #n2 {
  font-size: 100%;
  text-align: center;
  padding: 1%;
  width: 20%;
}

.slid__img {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}
.slid__img img {
  width: 60%;
}

.kalk__slid {
  width: 100%;
  display: flex;
  justify-content: center;
}

.Center {
  position: absolute;
  top: 45%;
  padding: 2%;
  background: rgba(0, 0, 0, 0.6);
  font-size: 200%;
  color: white;
}

.slideconteiner2 {
  width: 100%;
  display: flex;
  justify-content: center;
}

.slider2 {
  width: 60%;
}

.slideconteiner1 {
  position: absolute;
  transform: rotate(90deg);
  left: -3.5%;
  top: 50%;
  width: 44%;
}

.slider1 {
  width: 97%;
}

.button__kalk {
  padding-top: 5%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.kalk__suma {
  padding-top: 5%;
  display: flex;
  justify-content: center;
  font-size: 200%;
}

#out2 {
  font-size: 100%;
  text-align: center;
  color: black;
  width: 30%;
}

.type {
  width: 100%;
  display: flex;
  justify-content: center;
}

#typeFlor {
  margin: 2%;
  padding: 1%;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.7);
  font-size: 120%;
  text-shadow: 0px 0 10px white;
}

#typeFlor:active {
  background: rgba(0, 0, 0, 0.6);
}

#Description {
  width: 90%;
  margin: auto;
  font-size: 130%;
  line-height: 120%;
  text-align: center;
}

.kalk__sum {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 4%;
  font-size: 200%;
  padding-bottom: 4%;
}

#out {
  font-size: 100%;
  text-align: center;
  width: 30%;
}

.window__text {
  width: 100%;
  display: flex;
  background: rgba(255, 255, 255, 0.5);
}

.text__img {
  width: 50%;
  margin: auto;
  justify-content: center;
  display: flex;
}
.text__img img {
  width: 70%;
  box-shadow: 0 0 10px black;
}

.text__text {
  width: 50%;
  line-height: 130%;
  text-align: center;
  font-size: 120%;
}

.window__exp._min {
  font-weight: 550;
  font-size: 120%;
  text-shadow: 0px 0px 20px white;
}

@media (max-width: 767px) {
  .conteiner {
    max-width: 700px;
  }

  .type {
    display: block;
  }

  .slideconteiner1 {
    position: absolute;
    transform: rotate(90deg);
    left: -4.5%;
    top: 47%;
    width: 44%;
  }

  .kalk__sum {
    text-align: center;
  }

  .hi__burger__wra {
    display: block;
    transition: all 1s ease 0.5s;
  }

  .hi__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 10;
    margin: auto;
    top: 30%;
  }

  .hi__burger:before, .hi__burger:after {
    content: "";
    background: black;
    width: 100%;
    height: 2px;
    left: 0;
    position: absolute;
    transition: all 0.5s ease 0s;
  }

  .hi__burger span {
    background: black;
    width: 100%;
    height: 2px;
    left: 0;
    position: absolute;
    top: 9px;
    transition: all 0.5s ease 0s;
  }

  .hi__burger.active span {
    transform: scale(0);
  }

  .hi__burger:before {
    top: 0;
  }

  .hi__burger.active:before {
    top: 9px;
    transform: rotate(45deg);
  }

  .hi__burger:after {
    bottom: 0px;
  }

  .hi__burger.active:after {
    bottom: 9px;
    transform: rotate(-45deg);
  }

  .conteiner._re {
    display: block;
  }

  .window__item_min {
    width: 100% !important;
    transform: translate(-100%, 0);
    background: aliceblue;
  }

  .window__item_min.active {
    width: 100% !important;
    transform: translate(0%, 0);
  }
  .window__item_min.active.window__item_min._in.swiper-slide-thumb-active {
    border-radius: 0 0px 0px 0%;
    border-top: none;
    transform: translate(0%, 0);
  }

  .hi__burger__wra.active {
    display: block;
    right: -90%;
    top: 10%;
    position: absolute;
  }

  .window__exp._min img {
    width: 20%;
  }

  .window__item_min._in.swiper-slide-thumb-active {
    background: white;
    text-shadow: 0px 0px 10px white;
    border-radius: 0 50px 50px 0%;
    height: 80px;
    border-top: none;
    transform: translate(-90%, 0);
  }

  .window__exp._min._eco {
    height: 80px;
    padding: 2%;
  }

  .hi__soc {
    width: 40%;
    right: -60%;
  }

  .hi__row {
    z-index: 2;
  }

  .hi__soc.active {
    width: 100%;
    right: 0;
  }

  .hi__tel {
    display: none;
  }

  .slider__title {
    width: 100%;
  }

  .stat__cont {
    display: block;
  }

  .stat__column {
    width: 100%;
  }

  .pre__locard {
    background: none;
    font-size: 150%;
    padding-top: 20%;
  }

  .pre__card {
    background: none;
    top: 10%;
    width: 100%;
    left: 0%;
  }

  .how__ico {
    padding: 0%;
    border-radius: 0%;
    font-size: 200%;
  }

  .how__text {
    font-size: 120%;
    opacity: 0;
  }

  .how__column.swiper-slide-thumb-active {
    border: solid;
    background: rgba(0, 0, 0, 0.4);
    color: white;
  }
  .how__column.swiper-slide-thumb-active .how__ico {
    background: white;
    color: rgba(229, 35, 37, 0.7);
  }
  .how__column.swiper-slide-thumb-active .how__text {
    text-shadow: 1px 0px 5px black;
    display: block;
    width: 200%;
    font-size: 120%;
    transform: translate(-25%, 0);
    opacity: 1;
  }
  .how__column.swiper-slide-thumb-active .how__text._fak {
    transform: translate(-50%, 0);
  }
  .how__column.swiper-slide-thumb-active .how__text._fa—Å {
    transform: translate(0%, 0);
  }

  .class__text {
    width: 100%;
  }

  .class__column.swiper-slide-active {
    margin-bottom: 2%;
  }
  .class__column.swiper-slide-active .class__text {
    width: 100%;
  }
  .class__column.swiper-slide-active .how__icoimg._img._in {
    transform: scale(1);
    margin-top: 0%;
  }

  .hi__socfoot {
    display: flex;
    width: 100%;
    justify-content: space-around;
    font-size: 240%;
    margin-top: 2%;
    width: 100%;
  }

  .hi__telfoot {
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
    line-height: 170%;
    position: relative;
    width: 100%;
  }

  .soc__name {
    text-align: center;
    font-size: 120%;
  }

  .logo__img {
    display: none;
  }

  .block__soc {
    width: 100%;
    padding-bottom: 2%;
  }
}